<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Projekt Košt Vín{% endblock %}</title>
    
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', path='favicon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    
</head>
<body>

    <header class="site-header">   
        <div class="header-top">
            <div class="logo">
                <h1><a href="/" style="color: inherit; text-decoration: none;">Košt Vín</a></h1>
            </div>
        </div>

        <div class="navbar-container">
            <nav class="main-nav">
                <div class="dropdown">
                    <a href="#" class="nav-link">Výběr ročníku ▾</a>
                    <div class="dropdown-content">
                        {% for r in all_rocniky %}
                            <a href="/?rocnik_id={{ r.id }}">{{ r.rok }}</a>
                        {% endfor %}
                    </div>
                </div>
            
                {% if user %}
                    {% if 'Vinař' in roles %}
                        <a href="/vina/sprava" class="nav-link">Správa vín</a>
                    {% endif %}
                    {% if 'Hodnotitel' in roles %}
                        <a href="/vina/hodnoceni" class="nav-link">Hodnocení</a>
                    {% endif %}
                    {% if 'Admin' in roles %}
                        <a href="/users/sprava" class="nav-link">Uživatelé</a>
                        <a href="/rocniky/sprava" class="nav-link">Ročníky</a>
                    {% endif %}
                {% endif %}

                <div class="user-panel" style="margin-left: auto;">
                    {% if user %}
                        <div class="dropdown">
                            <a href="#" class="nav-link" style="text-transform: none;">👤 {{ user }} ▾ </a>
                            <div class="dropdown-content">
                                <a href="/users/profil">Můj profil</a>
                
                                <div class="dropdown-divider"></div>
                                
                                <a href="/auth/logout" style="color: #b71c1c;">Odhlásit se</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="/auth/login?next={{ request.url.path }}" class="btn">Přihlásit se</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>